{% extends 'beaco/base.html' %}

{% block content %}
<div class="center">
    <h1>Как существует и обслуживается самый отдалённый на планете океанский маяк</h1>
    <p>Отдалённый и очень опасный
Тридрангар (что переводится как три каменных столба) – один из самых отдаленных маяков в мире. Он построен на одной из
        трех крутых скал, на высоте около 40 метров.
Учитывая привычные для этой местности вихревые ветры и грохочущие волны, взобраться на скалу, предварительно подплыв
        к ней, задача не из простых и не из безопасных. Поэтому сегодня для этой цели используют служебный вертолет.
        Вертолетная площадка расположена на вершине зазубренной скалы.Оставаться тут даже пару часов чрезвычайно сложно.
        Всего один неверный шаг или сильный порыв ветра – и вы падаете в ледяные волны и разбиваетесь о скалу.</p>
    <h2>Строили, рискуя жизнью</h2>
    <p>Маяк был построен в 1939 году примерно в шести милях от материковой части Исландии, в Североатлантическом море,
        на окраине океана. Известно, что при возведении этого объекта вертолеты не использовались, и можно только
        поражаться тому, как строителям удалось это сделать</p>
    <p>До того, как на скале появилась вертолетная площадка, строителям и береговой охране приходилось добираться
        до утеса морем.</p>
</div>


{% endblock %}